body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  min-height: 5rem;   
  background-color: white;
}

.navbar-collapse {
  background-color: white !important;
  padding: 1rem !important;
  border-radius: 1rem;
}

/* Allow expansion on small screens */
@media (max-width: 768px) {
  .navbar {
    padding-bottom: 1rem;
  }

  .navbar-collapse {
    width: 100%;
  }
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials {
  margin-left: 0.9rem;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* EDit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
  height: 2.3rem;
  display: inline-block;
  font-size: 1rem;
  min-width: 80px;       
  text-align: center;
}

@media (max-width: 576px) {
  .edit-btn {
    width: 100%;         
    font-size: 1rem;
  }
}


/* Show Page */
.show-img{
  height: 30vh ;
}

.btns{
  display: flex;
}

.btn-del{
  background-color: #fe424d !important;
  border: none !important;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}